<% if order.moip_boleto_url.present? %>
  <div id="order_moip_boleto_url">
    <%= link_to order.moip_boleto_url, target: "_blank" do %>
      <span class="boleto-img">boleto</span>
      <span class="boleto-print">Imprimir boleto</span>
    <% end %>
  </div>
<% end %>

